# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# test
coverage
lib-cov
*.lcov
.nyc_output

# Dependency directories
node_modules/
jspm_packages/

# TypeScript & Node
typings/
*.tsbuildinfo
.npm
.yarn-integrity
*.tgz
.cache
dist
__debug_bin

# ESlint
.eslintcache
.node_repl_history

# Dotenv
.env
.env.test

# Golang
tmp/
vendor/

# Secrets
*.pem
*.crt
*.key

# Development
ngrok
